<include file="public/header"/>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="login panel panel-default">
					<div class="panel-heading sh">员工注册</div>
					<div class="panel-body">
						<?php if ($error): ?>
							<div class="alert alert-danger">
								{$error}
								<!-- <strong>Whoops!</strong> There were some problems with your input.<br><br> -->
								<!-- <ul>
										<li>333</li>
								</ul> -->
							</div>
						<?php endif; ?>
							
						<form class="form-horizontal" role="form" method="POST" action="{:U('home/login/signup_handler')}">
							<input type="hidden" name="_token" value="">

							<div class="form-group">
								<label class="col-md-3 control-label">用户名：</label>
								<div class="col-md-7">
									<input type="name" placeholder="name" class="form-control" name="name">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">密码：</label>
								<div class="col-md-7">
									<input type="password" placeholder="password" class="form-control" name="password">
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">确认密码：</label>
								<div class="col-md-7">
									<input type="password" placeholder="password" class="form-control" name="repassword">
								</div>
							</div>

							<div class="area form-group">
								<label class="col-md-3 control-label">地区：</label>
								<div class="col-md-7">
									<select class="form-control" name="area">
										<?php foreach ($area as $v): ?>
											<option value={$v.id}>{$v.name}</option>
										<?php endforeach; ?>
									</select>
								</div>
							</div>

							<div class="depart form-group">
								<label class="col-md-3 control-label">部门：</label>
								<div class="col-md-7">
									<select class="form-control" name="depart">
										
									</select>
								</div>
							</div>

							<div class="team form-group">
								<label class="col-md-3 control-label">小组：</label>
								<div class="col-md-7">
									<select class="form-control" name="team">
										
									</select>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-7 col-md-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<include file="public/footer"/>


