    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/admin.js"></script>
    <script type="text/javascript">
	    $(function(){
	    	$(".year").val({$year});;
	    	$(".month").val({$month});	

	    	$(".admin select").val({$user['admin']});

	    	$(".area select").change(function(){
				var aid = $(this).val();
				$.post("{:U('user/add_user_ajax')}", {area:aid}, function(data){
					var str = "<option value='0'>全部</option>";
					for (var i in data)
					{
						str += "<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>";
					}

					$(".depart select").html(str);
					$(".depart select").change();
				})

				score();
			})

			$(".depart select").change(function(){
				var aid = $(this).val();
				$.post("{:U('user/add_user_ajax')}", {depart:aid}, function(data){
					var str = "<option value='0'>全部</option>";
					for (var i in data)
					{
						str += "<option value='"+data[i]['id']+"'>"+data[i]['name']+"</option>";
					}

					$(".team select").html(str);

					init();
					score();
					// $(".area select").val({$user['aid']});
			  //   	$(".depart select").val({$user['did']});
			  //   	$(".depart select").val({$user['tid']});

				})
			})


			$(".score select").change(function(){
				score();
			});

			$(".area select").change();

			$(".submit").click(function(){
				$("#score-f").submit();
			});

	    })

	    var flag = 1;

	    function init(){
	    	if (flag == 1) 
	    	{
	    		$(".area select").val({$user['aid']});
		    	$(".depart select").val({$user['did']});
		    	$(".team select").val({$user['tid']});
	    	};
	    	flag = 0;
	    }

	    function score(){
	    	var ye = $(".year").val();
				var mon = $(".month").val();
				var area = $(".area select").val();
				var depart = $(".depart select").val();
				var team = $(".team select").val();
				$.post("{:U('score/score_ajax')}", {year:ye,month:mon,aid:area,did:depart,tid:team}, function(data){
					var str = "<input type='hidden' name='year' value='"+ye+"'/><input type='hidden' name='month' value='"+mon+"'/>";
					for (var i in data)
					{
						str += "<tr><td>"+data[i]['name']+"</td>";

						for (var j = 1; j < 8; j++) {
							str += "<td><input name='col"+data[i]['uid']+"[]' type='number' min='0' value='"+data[i]['child']['col'+j]+"'/></td>";
						};

						str += "<td><input type='text' name='col"+data[i]['uid']+"[]' value='"+data[i]['child']['total']+"'/></td></tr>";
					}
					$(".score .scorelist").html(str);

					$(".score td input").change(function(){
						// 总分计算
						var index = $(this).parent().parent().find('td');
						
						var t = index.eq(1).find('input').val()*5+index.eq(2).find('input').val()*4+index.eq(3).find('input').val()*3+index.eq(4).find('input').val()*2.5+index.eq(5).find('input').val()*2+index.eq(6).find('input').val()*1-index.eq(7).find('input').val()*5;

						index.eq(8).find('input').val(t);
					})
				})
	    }

    </script>
  </body>
</html>