/*html,body{
	height: 100%;
	overflow: hidden;
}*/
.nav-t{
	margin-bottom: 0;
	position: relative;
}
.nav-l{
	/*float: left;*/
	margin-top: 5px;
	width: 200px;
	position: absolute;
	bottom: 0;
	top: 52px;
	/*border-right: 1px solid #e7e7e7;*/
}
.main-con{
	position: absolute;
	bottom: 0;
	top: 57px;
	left: 200px;
	right: 0;
	padding-left: 10px;
	overflow: hidden;
}
.login{
	margin-top: 150px;
}
.pages{
	text-align: center;
}
.pages .num{
	display: inline-block;
	width: 20px;
	margin: 0 2px;
	border: 1px solid #ccc;

}
.pages .current{
	display: inline-block;
	width: 20px;
	margin: 0 2px;
	background-color: #337ab7;
	color: #fff;
}
.add-user{
	margin:15px;
	margin-left: 5px;
}
