<include file="public/header"/>

<div class="container">
	<div class="">
		<table class="t-nav table table-bordered">
			<tbody>
				<tr>
					<td width="75%" colspan="3">
						<label>日期：</label>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								2015年 <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>

						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								1月 <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>

						<br>
						
						<label>地区：</label>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								2015年 <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Anothe</a></li>
								<li><a href="#">Someth</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separa</a></li>
							</ul>
						</div>
						&nbsp;
						<label>部门：</label>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								2015年 <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Anothe</a></li>
								<li><a href="#">Someth</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separa</a></li>
							</ul>
						</div>
						&nbsp;
						<label>小组：</label>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								2015年 <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Anothe</a></li>
								<li><a href="#">Someth</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">Separa</a></li>
							</ul>
						</div>
						&nbsp;
						<div class="search btn-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">搜索</button>
								</span>
							</div><!-- /input-group -->
						</div>

					</td>
					<td class="countdown">
						距离十一国庆<br/>
						还有80天
					</td>
				</tr>
				<tr class="sub-nav">
					<td>个人排行榜</td>
					<td>小组排行榜</td>
					<td>部门排行榜</td>
					<td>公司排行榜</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-responsive">	
		<table class="t-body table table-hover table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>
	</div>
	

</div>

<include file="public/footer"/>


