<include file="public:header"/>
	<div class="add-user row">
		<?php if ($error): ?>
			<div class="alert alert-danger">
				{$error}
				<!-- <strong>Whoops!</strong> There were some problems with your input.<br><br> -->
				<!-- <ul>
						<li>333</li>
				</ul> -->
			</div>
		<?php endif; ?>
		<form class="form-horizontal" role="form" method="POST" action="{:U('user/add_user_handler')}">
			<input type="hidden" name="_token" value="">

			<div class="form-group">
			<label class="col-sm-2 control-label">用户名：</label>
				<div class="col-sm-3">
					<input type="name" placeholder="name" class="form-control" name="name">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">密码：</label>
				<div class="col-sm-3">
					<input type="password" placeholder="password" class="form-control" name="password">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">用户组：</label>
				<div class="col-sm-3">
					<select class="form-control" name="admin">
					<?php if ($admin == 2): ?>
						<option value="0">普通员工</option>
						<option value="1">管理员</option>
						<option value="2">总管理员</option>
					<?php else: ?>
						<option value="0">普通员工</option>
						<option value="1">管理员</option>
					<?php endif; ?>
					</select>
				</div>
			</div>

			<div class="area form-group">
				<label class="col-sm-2 control-label">地区：</label>
				<div class="col-sm-3">
					<select class="form-control" name="area">
						<?php foreach ($area as $v): ?>
							<option value={$v.id}>{$v.name}</option>
						<?php endforeach; ?>
					</select>
				</div>
			</div>

			<div class="depart form-group">
				<label class="col-sm-2 control-label">部门：</label>
				<div class="col-sm-3">
					<select class="form-control" name="depart">
						
					</select>
				</div>
			</div>

			<div class="team form-group">
				<label class="col-sm-2 control-label">小组：</label>
				<div class="col-sm-3">
					<select class="form-control" name="team">
						
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3 col-sm-offset-2">
					<button type="submit" class="btn btn-primary">添加</button>
				</div>
			</div>
		</form>
	</div>
<include file="public:footer"/>
