<include file="public:header"/>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th width="10%">用户名</th>
			<th width="10%">级别</th>
			<th width="15%">添加时间</th>
			<th width="30%">操作</th>
		</tr>
	</thead>
	<tbody>
		<foreach name="users" item="v">
			<tr>
				<td>{$v.name}</td>
				<td>{$v.admin}</td>
				<td>{$v.dateline}</td>
				<td>
				<?php if ($v['admin'] == 9): ?>
					<a href="{:U('user/approve_user', array('uid'=>$v['uid']))}">同意申请</a>
					<a href="{:U('user/deny_user', array('uid'=>$v['uid']))}">拒绝申请</a>
				<?php else: ?>
					<a href="{:U('user/update_user', array('uid'=>$v['uid']))}">修改</a>
					<a href="{:U('user/del_user', array('uid'=>$v['uid']))}">删除</a>
				<?php endif; ?>
				</td>
			</tr>
		</foreach>
	</tbody>
	
</table>
<div class="pages">
		{$page}
</div>
<include file="public:footer"/>
